.discover_heading {
    color: #5F44FE;
    font-weight: bold;
    margin-bottom: 3rem;   
}

.discover_div {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.pc_guy {
    width: 8rem;
}

.goal_div {
    margin-top: -23px;
}